/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define DEFAULT 0
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  F  |  P  |  B  |                                      |  J  |  L  |  U  |  Y  |  ;  |  \  |
// |  TAB  |  A  |  R  |  S  |  T  |  G  |                                      |  M  |  N  |  E  |  I  |  O  |  '  |
// | SHIFT |  Z  |  X  |  C  |  D  |  V  |  GUI  | LAYER 1 |  | LAYER 1 | R-ALT |  K  |  H  |  ,  |  .  |  /  | ALT |
//                     |  ←  |  →  | TAB | SPACE |   ESC   |  |   CTRL  | BSPC  | RET |  ↑  |  ↓  |

#define LAYER_NUMS 1
// ---------------------------------------------------------------------------------------------------------------------------------
// | F11 | F1  | F2  |  F3  | F4  | F5  |                                  |  F6  |  F7  | F8  | F9  | F10 | F12 |
// |     |  1  |  2  |  3   |  4  |  5  |                                  |  6   |  7   |  8  |  9  |  0  |     |
// |     |     |  `  |  =   |  -  |     |     | LAYER 0 |  | LAYER O |     |     |      |      |  [  |  ]  |     |
//                   | HOME | END |     |     |         |  |         |     |     | PGUP | PGDN |

// ---------------------------------------------------------------------------------------------------------------------------------
// |     |     |     |     |     |     |                                |     |     |     |     |     |     |
// |     |     |     |     |     |     |                                |     |     |     |     |     |     |
// |     |     |     |     |     |     |     |     |  |     |     |     |     |     |     |     |     |     |
//                   |     |     |     |     |     |  |     |     |     |     |     |

// &trans &trans &trans &trans &trans &trans                                  &trans &trans &trans &trans &trans &trans
// &trans &trans &trans &trans &trans &trans                                  &trans &trans &trans &trans &trans &trans
// &trans &trans &trans &trans &trans &trans &trans &trans      &trans &trans &trans &trans &trans &trans &trans &trans
//                      &trans &trans &trans &trans &trans      &trans &trans &trans &trans &trans

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
  combos {
    compatible = "zmk,combos";

    // left
    combo_lbkt {
      timeout-ms = <50>;
      key-positions = <29 42>;
      bindings = <&kp LEFT_BRACKET>;
    };
    combo_lpar {
      timeout-ms = <50>;
      key-positions = <30 43>;
      bindings = <&kp LEFT_PARENTHESIS>;
    };
    combo_lbrc {
      timeout-ms = <50>;
      key-positions = <31 44>;
      bindings = <&kp LEFT_BRACE>;
    };

    // right
    combo_rbkt {
      timeout-ms = <50>;
      key-positions = <34 47>;
      bindings = <&kp RIGHT_BRACKET>;
    };
    combo_rpar {
      timeout-ms = <50>;
      key-positions = <33 46>;
      bindings = <&kp RIGHT_PARENTHESIS>;
    };
    combo_rbrc {
      timeout-ms = <50>;
      key-positions = <32 45>;
      bindings = <&kp RIGHT_BRACE>;
    };
  };

  behaviors {
    hm: homerow_mods {
      compatible = "zmk,behavior-hold-tap";
      label = "HOMEROW_MODS";
      #binding-cells = <2>;
      tapping-term-ms = <150>;
      quick_tap_ms = <0>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
  &gresc    &kp Q      &kp W      &kp F       &kp P       &kp B                                                                                &kp J              &kp L  &kp U     &kp Y   &kp SEMI &kp BSLH
  &kp TAB   &hm LGUI A &hm LALT R &hm LCTRL S &hm LSHFT T &kp G                                                                                &kp M              &kp N  &kp E     &kp I   &kp O    &kp SQT
  &kp LSHFT &kp Z      &hm LALT X &kp C       &kp D       &kp V              &kp LGUI        &to LAYER_NUMS      &to LAYER_NUMS &kp RGUI       &kp K              &kp H  &kp COMMA &kp DOT &kp FSLH &kp RALT
                                  &kp LEFT    &kp RIGHT   &lt LAYER_NUMS TAB &mt LSHFT SPACE &mt LCTRL ESC       &mt RCTRL ESC  &mt RSHFT BSPC &lt LAYER_NUMS RET &kp UP &kp DOWN
      >;
    };

    nums_layer {
      bindings = <
  &kp F11 &kp F1 &kp F2    &kp F3    &kp F4    &kp F5                                            &kp F6 &kp F7      &kp F8           &kp F9            &kp F10           &kp F12
  &trans  &kp N1 &kp N2    &kp N3    &kp N4    &kp N5                                            &kp N6 &kp N7      &kp N8           &kp N9            &kp N0            &trans
  &trans  &trans &kp GRAVE &kp EQUAL &kp MINUS &trans &trans &to DEFAULT      &to DEFAULT &trans &trans &trans      &kp LEFT_BRACKET &kp RIGHT_BRACKET &trans            &trans
                           &kp HOME  &kp END   &trans &trans &trans           &trans      &trans &trans &kp PAGE_UP &kp PAGE_DOWN
      >;
    };
  };
};
